.search-box1 {
  width: 1206px;
  height: 77px;
  background: #ffffff;
  box-shadow: 0px 5px 8px rgba(216, 227, 241, 0.65);
  border-radius: 40px 0px 0px 40px;
}

.sbtn {
  background: linear-gradient(0deg, #2f69ff, #2f69ff),
    linear-gradient(275.36deg, #2f69ff 0%, #c856ff 100%);
  border-radius: 0px 40px 40px 0px;
  width: 152px;
  height: 77px;
  position: absolute;
  right: 55px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}
