.nav {
  width: 1440px;
}
@media only screen and (max-width: 600px) {
    .respnav{
        column-gap: 0;
        column-gap: 14px;
    }
    .token{
        display: none;
    }
    .nav{
        width: auto;
        padding-left: 10px;
        padding-right: 10px;
        background-color: white;
        border-bottom: 2px solid #E7E7E7;
    }
    .logoimg{
        width: 106px;
        height: 34px;
    }
}