.heading {
    font-family: DM Sans;
    font-size: 50px;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: 0em;
    text-align: center;
}

.search-box {
    width: 1358px;
    height: 77px;
    background: #ffffff;
    box-shadow: 0px 5px 8px rgba(216, 227, 241, 0.65);
    border-radius: 40px;
}

.btn {
    width: 214px;
    height: 61px;
    background: #2f69ff;
    border-radius: 40px;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #ffffff;
}

.save {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 55px;
    color: #ffffff;
}

.c {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #7e7e7e;
}

.c1 {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #434354;
}

.c2 {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #434354;
}

.borderToCheck {
    border-left: 1.3px solid #2F69FF;
}

.rightbar1 {
    margin-left: 200px;
}

.him {
    display: none;
}

.search-boxm {
    display: none;
}

input::placeholder {
    font-size: 18px;
    color: #292931;
}

@media only screen and (max-width: 600px) {
    .heading {
        font-size: 27px;
    }

    input::placeholder {
        font-size: 16px;
        color: #292931;
    }
    input{
        width: 250px;
    }

    .search-box {
        display: none;
    }

    .hi {
        display: none;
    }

    .him {
        display: inline-block;
    }

    .btn {
        width: 340px;
    }

    .search-boxm {
        display: flex;
        flex-direction: column;
        width: 340px;
        margin: auto;
    }
}