.hotel {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #646465;
}

.form {
  background: #ffffff;
  box-shadow: 0px 5px 8px rgba(216, 227, 241, 0.65);
  width: 388px;
  height: 630px;
}

.pers {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #130a44;
}

.specify {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #646465;
}

.inp {
  background: #ffffff;
  border: 1.55556px solid #adadad;
  border-radius: 6.22222px;
  width: 348px;
  height: 60px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #7e7e7e;
}

.check {
  border: 1px solid #adadad;
  border-radius: 4px;
  width: 20px;
  height: 20px;
}

.ht {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #7e7e7e;
}
